@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #fff4e4;
}

a{
    text-decoration: none;

}

img{
    max-width: 100%;

}

.wrapper {
    background-color: rgba(0, 2, 49, 1);
    min-height: 420vh;
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color:black
}

header nav ul pi a {
    color: #fdfff5;
    opacity: 100%;

}

header nav ul li.btn a {
    background: #fdfff5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    border-radius: 20px;
    transition: all 500 ms ease;
}

header nav ul li.btn a:hover {
    background: #e08ed3
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info{
    width: 1000px;
    padding-top: 140px;
    padding-left: 1px;

}

.hero--info h1 {
    font-size: 70px;
    font-weight: 800;
    width: 1100px;
    margin-top: 45px;
    margin-left: 210px;
}

.hero--info p {
    font-size: 50px;
    font-weight: 600;
    width: 1100px;
    margin-top: 35px;
    margin-left: 250px;
}



.shapka .btn {
    font-size: 50px;
    font-weight: 700;
}

header nav ul pi.btn a {
    display: inline-block;
    width: 450px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1%;

    padding-left: 475px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 475px;
    transition: all 500 ms ease;
    z-index: 700;
}

header nav ul pi.btn a:hover {
    background: #e08ed3;
    opacity: 90%;

}

header nav ul pi a {
    color: #fdfff5;
}

.knopki .btn{
    font-size: 70px;
    font-weight: bold;
}

.btn_1 {
    position: absolute;
    top: 53.5%;
    left: 12.3%;
    z-index: 700;
    height: 150px;
    width: 475px;
}
.btn_2 {
    position: absolute;
    top: 111.5%;
    left: 12.3%;
    height: 200px;
    z-index: 700;
}
.btn_3 {
    position: absolute;
    top: 170%;
    left: 12.3%;
    z-index: 700;
}
.btn_4 {
    position: absolute;
    top: 227%;
    left: 12.3%;
    z-index: 700;
}
.btn_5 {
    position: absolute;
    top: 285%;
    left: 12.3%;
    z-index: 700;
}
.btn_6 {
    position: absolute;
    top: 342%;
    left: 12.3%;
    z-index: 700;
}

.btn_f {
    position: absolute;
    top: 12.3%;
    left: 36%;
    z-index: 700;
}

.btn_a {
    position: absolute;
    top: 12.3%;
    left: 53%;
    z-index: 700;
}

.hero.container {
    position: relative;
}

.hero.container img[src="img/house.svg"] {
    position: absolute;
    top: 400px;         
    width: auto;  
    height: auto;  
    z-index: 0; 
    clip-path: inset(0 0 7% 0);    
}

.hero.container img[src="img/hat.svg"] {
    position: absolute;
    top: 0;     
    left: 1%;    
    width: auto;  
    height: auto;   
    z-index: 1; 
}


.hero.container img[src="img/vhode.svg"] {
    position: absolute;
    top: 13.5px;      
    left: 1310px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}

.hero.container img[src="img/help.svg"] {
    position: absolute;
    top: 13.5px;      
    left: 663px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}