@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #fff4e4;
}

a{
    text-decoration: none;

}

img{
    max-width: 100%;

}

.wrapper {
    background-color: rgba(0, 2, 49, 1);
    min-height: 1000vh;
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color:black
}

header nav ul pi a {
    color: #fdfff5;
    opacity: 100%;

}

header nav ul li.btn a {
    background: #fdfff5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    border-radius: 20px;
    transition: all 500 ms ease;
}

header nav ul li.btn a:hover {
    background: #e08ed3
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info{
    width: 1000px;
    padding-top: 140px;
    padding-left: 1px;

}

.hero--info h1 {
    font-size: 70px;
    font-weight: 800;
    width: 1500px;
    margin-top: 10px;
    margin-left: 1px;
}

.hero--info h2 {
    font-size: 60px;
    font-weight: 800;
    width: 1500px;
    margin-top: 30px;
    margin-left: 1px;
}

.part_1 h3{
    font-size: 60px;
    font-weight: 800;
    width: 1500px;
    margin-top: 770px;
    margin-left: 1px;
}

.hero--info p {
    font-size: 40px;
    font-weight: 500;
    width: 1500px;
    margin-top: 800px;
    margin-left: 1px;
}



.shapka .btn {
    font-size: 50px;
    font-weight: 700;
}

header nav ul pi.btn a:hover {
    background: #e08ed3;
    opacity: 90%;

}

header nav ul pi a {
    color: #fdfff5;
}

.knopki .btn{
    font-size: 70px;
    font-weight: bold;
}

.btn_help {
    position: absolute;
    top: 12.3%;
    left: 21%;
    z-index: 700;
}

.btn_glavn {
    position: absolute;
    top: 12.3%;
    left: 38.8%;
    z-index: 700;
}

.btn_slovar {
    position: absolute;
    top: 12.3%;
    left: 56%;
    z-index: 700;
}

.btn_kurs {
    position: absolute;
    top: 12.3%;
    left: 73.5%;
    z-index: 700;
}

.hero.container {
    position: relative;
}

#firsttabl {
  border-collapse: collapse;
  width: 150%;
  font-family: Arial, sans-serif;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#firsttabl th, td {
  border: 5px solid #ddd;
  padding: 12px;
  text-align: left; 
}

#secondtabl {
  border-collapse: collapse;
  width: 150%;
  font-family: Arial, sans-serif;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#secondtabl th, td {
  border: 5px solid #ddd;
  padding: 12px;
  text-align: left; 
}

.hero.container img[src="img/hat.svg"] {
    position: absolute;
    top: 0;     
    left: 1%;    
    width: auto;  
    height: auto;   
    z-index: 1; 
}


.hero.container img[src="img/vhode.svg"] {
    position: absolute;
    top: 13.5px;      
    left: 1310px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}

.hero.container img[src="img/help.svg"] {
    position: absolute;
    top: 13.5px;      
    left: 380px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}

.hero.container img[src="img/iconsglavn.svg"] {
    position: absolute;
    top: 13px;      
    left: 710px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}

.hero.container img[src="img/slovar.svg"] {
    position: absolute;
    top: 13.5px;      
    left: 1035px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}

.hero.container img[src="img/kurs.svg"] {
    position: absolute;
    top: 0px;      
    left: 1294px;    
    width: auto;  
    height: auto;  
    z-index: 1000;     
}

.part_1 p{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    width: 1500px;
    line-height: 1.2;
}

em {
  font-style: italic;
  font-weight: 700;
  color: #fff3f3;
  transform: skew(-8deg);
}

.ramka {
  background-color: #fff8f04a;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  color: #fff3f3;
  display: inline-block;
  margin-top: 7px;
}
  
.part_1 h4{
    margin-top: 40px;
    font-size: 50px;
    font-weight: 80px;
    color: #e08ed3;
}

.part_1 ul li{
    margin-top: 20px;
    font-size: 35px;
}

.part_1 ol li{
    margin-top: 20px;
    font-size: 35px;
}

.part_1 h1{
    margin-top: 800px;
    font-size: 40px;
    font-weight: 800;
}